body {
  font-family: Arial, sans-serif;
  background-color: #0d1117;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  text-align: center;
  background:#112d4e ;
  padding: 20px;
  border-radius: 12px;
  width: 350px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
}

input {
  padding: 10px;
  width: 70%;
  border: none;
  border-radius: 6px;
  margin-right: 10px;
}

button {
  padding: 10px 15px; /*Padding adds space inside an element — between its content and its border.*/
  border: none;
  border-radius: 6px;
  background-color: #238636;
  color: white;
  cursor: pointer;
  margin-top: 20px;
}

button:hover {
  background-color:#2ea043 ;
}

#profile {
  margin-top: 20px;
}

img {
  width: 100px;
  border-radius: 50%;/*used to make the corners of an element rounded.*/
  margin-bottom: 10px;
}

a {
  color: #58a6ff;
  text-decoration: none;
}
